body{
  margin:0;
  padding:0;
  text-align: center;
  margin:auto;
  background:gray;
}

#navheader{
  position:absolute;
  width:1536px;
  background:rgba(18, 0, 61, 0.904);
  overflow:hidden;
  box-shadow:0 0 10px 2px black;
}
#headerone{
  font-size: 35px;
  margin:0;
  padding-top:20px;
  padding-bottom:20px;
  color:white;
  float:left;
  padding-left:20px;
  transition:transform 5s;
}
#headerone:hover{
  transform:rotateY(360deg);
  transition-duration:3s;
}
#headertime{
  float:left;
  color:white;
  padding-top:6px;
  margin-left:30%;
  margin-bottom:0;
}
#headertwo{
  color:white;
  padding-top:6px;
  float:left;
  padding-right:20px;
}
#section{
  margin-top:75px;
  z-index:2;
  float:left;
  background:rgba(13, 0, 83, 0.925);
  width:300px;
  height:678px;
  box-shadow:0 0 15px 2px black;
}
#links{
  text-align:center;
  color:white;
}
#links a{
  color:white;
  text-decoration: none;
}
#links a p{
  margin:0;
  font-size:20px;
  padding:0;
  padding-top:15px;
  padding-bottom:15px;
}
#links a p:hover{
  font-size:25px;
  padding-top:17px;
  padding-bottom:17px;
  background:rgba(230, 226, 255, 0.082);
}
/*#currenthome~#section #links #homes #home{
  font-size:25px;
  padding-top:17px;
  padding-bottom:17px;
  background:rgba(230, 226, 255, 0.082);
}*/ 
#fullinput{
  float:right;
}
#divinput{
  margin-top:87px;
  border:2px solid gray;
  margin-left:75px;
  border-radius:30px;
  overflow:hidden;
  background:white;
  width:292px;
  margin-bottom:5px;
}
#input{
  font-size:20px;
  margin-bottom:5px;
  padding:5px;
  margin-left:13px;
  margin-right:14px;
  padding-bottom:1px;
  border:none;
  border-bottom:1px solid gray;
}
#input:focus{
  margin-bottom: 4px;
  outline:none;
  background:white;
  border-bottom:2px solid rgb(3,3,105);
}
#input:focus #divinput{
  width:300px;
}
#select{
  margin-top:6px;
  width:100px;
}
#view{
  cursor: pointer;
  font-size:15px;
  background:rgb(117, 117, 235);
  margin-top:8px;
  margin-bottom:2px;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  border:none;
}
#view:hover{
  margin-top:7px;
  margin-bottom:0px;
  font-size:17px;
}
#select{
  cursor:pointer;
  font-size:20px;
  padding-left:10px;
  border-radius:15px;
}
#select:focus{
  outline:none;
}
.height{
  margin-top:80px;
  overflow:hidden;
  z-index:-1;
  width:1536px;
  position:absolute;
  height:673px;
  background-image:linear-gradient(rgba(255, 78, 255, 0.925),rgba(58, 71, 255, 0.932))
}
#circle{
  position: absolute;
  z-index:500;
  margin-left:620px;
  margin-top:-20px;
  width:850px;
  height:800px;
  border-radius:700px;
  background-image:linear-gradient(rgba(248, 102, 44, 0.4),rgba(233, 229, 10, 0.3))
}
#box{
  z-index:500;
  position:absolute;
  width:800px;
  margin-top:110px;
  margin-left:520px;
  background:white;
  height:615px;
  border-radius:25px;
  overflow:hidden;
  box-shadow: 0 0 20px 2px black;
}
#upperbox{
  height:305px;
  background:rgb(0, 0, 70);
  box-shadow:0 0 15px 2px black;
}
/*height309*/
#lower{
  margin-top:25px;
  box-shadow:0 0 15px 2px black;
  height:285px;
  width:8400px;
  overflow: hidden;
}
/*width760*/
#lowerbox{
  overflow:hidden;
  margin:20px;
  margin-top:20px;
  width:8400px;
  height:245px;
}
#leftlower{
  float:left;
  width:250px;
  height:249px;
  border-right: 1px solid black;
  margin-right:0px;
}
.temp{
  float:left;
  width:320px;
  text-align:center;
  margin-top:25px;
  color:white;
}
#temphead{
  font-family: sans-serif;
  margin-top:-25px;
  margin-bottom:-2px;
  font-size:60px;
}
#temppara{
  font-size:25px;
  margin:0;
  padding:0px;
}
#tempdesc{
  padding:0;
  margin:0;
  font-size:25px;
  text-transform:capitalize;
}
#temppara2{
  font-size:14px;
  margin:0;
  padding:0;
  margin-bottom:10px;
}
#fullinput{
  width:450px;
  text-align:center;
}
#divmintemp
{
  float:left;
  margin-left:60px;
}
#mintemp{
  float:right;
  margin:0;
  padding:0;
}
#divmaxtemp{
  float:right;
  margin-right:50px;
}
#maxtemp{
  float:right;
  margin:0;
  padding:0;
}
#lldiv{
  text-align:left;
}
#lldiv p{
  margin:0;
  padding:0;
  padding:2px;
}
#lldiv h2{
  width:100%;
}
#lefty{
  text-align:center;
  float:left;
  width:150px;
}
#lldiv h4{
  clear:both;
  padding-top:25px;
  margin-left:50px;
  margin-right:0;
  text-decoration: underline;
}
#middy{
  float:left;
  width:3px;
}
#righty{
  padding-left:3px;
  float:left;
}
#rightlower{
  float:left;
  height:245px;
  width:8000px;
}
.scrollbox{
  cursor:context-menu;
  float:left;
  text-align:center;
  width:200px;
  height:100%;
  overflow:hidden;
}
#rdx{
  width:529px;
  overflow-x:scroll;
}
.scrollbox h3{
  margin-bottom:0;
  font-size:25px;
}
#h3{
  margin-top:5px;
}
.scrollbox h2{
  margin:0;
  font-size:40px;
}
.scrollbox:hover{
  background:rgb(216, 216, 216);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.height2{
  height:600px;
  width:800px;
  background:rgba(44, 43, 44, 0.733);
  position:absolute;
  top:117px;
  left:520px;
  border-radius:25px;
  text-align:center;
  border:7px solid white;
  box-shadow:0 0 20px 2px black;
  color:white;
}
.height2 h1{
  font-size:50px;
  margin-bottom:0;
}
.height2 h2{
  margin-top:5px;
}
.height2 #api{
  font-size:25px;
}
.height2 #api a{
  color:white;
}
.height2 #jstfy{
  margin-left:50px;
  margin-right:50px;
}

#boxer{
  width:200px;
  height:200px;
  margin:40px;
}

#logox{
  color:white;
  margin-top:15px;
  margin-left:45px;
  font-size:20px;
}
#logop{
  margin-left:15px;
  color:white;
}
#logogy{
  text-align:left;  
  position:absolute;
  top:490px;
  left:15px;
}
#logogy img{
  margin-left:80px;
}
.height3{
  height:555px;
  width:800px;
  background:rgba(44, 43, 44, 0.733);
  position:absolute;
  overflow:hidden;
  top:117px;
  left:520px;
  border-radius:25px;
  text-align:center;
  padding-top:45px;
}

#inheight3{
  height:570px;
  width:820px;
  overflow-y:scroll;
}

.savescrollbox{
  position: relative;
  float:left;
  text-align:center;
  width:200px;
  height:100%;
  padding-bottom:20px;
  overflow:hidden;
  margin-left:50px;
  margin-bottom:30px;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.788);
}
#minus{
  position:absolute;
  top:3px;
  left:165px;
}
.savescrollbox h3{
  margin-bottom:0;
  font-size:25px;
}
.savescrollbox h2{
  margin:0;
  font-size:40px;
}
.savescrollbox:hover{
 background:rgba(255, 255, 255, 0.688)
}
#boxer2{
  width:100%;
}
#lldiv button{
  margin-top:20px;
  margin-left:50px;
}
#nilaa{
  text-decoration: none;
  color:black;
}

/*background:url(bg.jpg) ;
  background-repeat:no-repeat;
  background-size: auto;
  
  
  
  https://www.flaticon.com/packs/weather-set-2

  */